<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Chat PA10</title>
    <link rel="stylesheet" href="style/main.css" />
    {% block head %}{% endblock %}
</head>

<body>
    <header> </header>
    {% block content %} {% endblock %}
    {% block js %} {% endblock %}
</body>

</html>
