{% extends "base.html" %}

{% block head %}
<link href="/style/main.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}
<ul id="messages"></ul>
<form id="chat_form" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
{% endblock %}

{% block js %}
<script src="/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/main.js"></script>

{% endblock %}
