{% extends "base.html" %}

{% block content %}

{% if error %}
<div id="error">
    {{ error }}
</div>
{% endif %}

<form action="/register" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Retype password:</label>
        <input type="password" name="password2"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
{% endblock %}
